 <form  *ngIf="dynamicForm"
        [formGroup]="dynamicForm"
        (ngSubmit)="onSubmit(dataModal)">
  <ng-container *ngFor="let item of dropFormList; let i=index">
    <div class="mb-3">

        <!-- input 格式 -->
      <ng-container *ngIf="item.tag === 'input'">
        <!-- 名稱 -->
        <div class="py-1">
          <span *ngIf="item.require"
              [ngClass]="{'text-danger': item.require }">
            {{ '*' }}
          </span>
          <label  [for]="item.key">
            <ng-container *ngIf="item.type === 'email'">
              {{ '信箱' }}
            </ng-container>
            <ng-container *ngIf="item.type === 'tel'">
              {{ '電話' }}
            </ng-container>
            <ng-container *ngIf="item.type === 'text'">
              {{ item.name }}
            </ng-container>
          </label>
        </div>
        <input  [type]="item.type"
                [id]="item.key"
                class="form-control"
                [formControlName]="item.key"
                [value]="item.value"
                >
      </ng-container>

      <!-- radio、checkbox 格式 -->
      <ng-container *ngIf="item.tag === 'radioOrCheckbox'">
        <div class="py-1">
          <span *ngIf="item.require"
                [ngClass]="{'text-danger': item.require }">
            {{ '*' }}
          </span>
          <label  [for]="item.key">
            {{ item.name }}
          </label>
        </div>
        <div class="mx-2">
          <div  *ngFor="let value of item?.options?.optionList">
            <input  class="mr-2"
                    [type]="item.type"
                    [id]="item.key"
                    [name]="item.key"
                    (click)="onRadioOrCheckboxChange(item, value)"
                    [value]="value"
                  >
            <label>
              {{ value }}
            </label>
          </div>
        </div>
      </ng-container>

      <!-- textarea 格式 -->
      <ng-container  *ngIf="item.tag === 'textarea'">
        <div class="py-1">
          <span *ngIf="item.require"
                [ngClass]="{'text-danger': item.require }">
            {{ '*' }}
          </span>
          <label  [for]="item.key">
            {{ item.name }}
          </label>
        </div>
        <div>
          <textarea class="form-control"
                    [id]="item.key"
                    [name]="item.key"
                    [rows]="item.options?.rows"
                    [maxLength]="item.options?.maxLength"
                    [formControlName]="item.key"
                    [value]="item.value"
                    >
          </textarea>
          <p  *ngIf="item?.options?.maxLength"
              class="text-right text-secondary">
            {{ dynamicForm.get(item.key)?.value?.length + "/" + item.options?.maxLength }}
          </p>
        </div>
      </ng-container>

      <!-- select 格式 -->
      <ng-container  *ngIf="item.tag === 'select'">
        <div class="py-1">
          <span *ngIf="item.require"
                [ngClass]="{'text-danger': item.require }">
            {{ '*' }}
          </span>
          <label  [for]="item.key">
            {{ item.name }}
          </label>
        </div>
        <div class="mx-2">
          <select [id]="item.key"
                  [name]="item.key"
                  class="form-control"
                  [formControlName]="item.key"
                  >
            <option *ngFor="let itme of item?.options?.optionList"
                    [value]="itme">
              {{ itme }}
            </option>
          </select>
        </div>
      </ng-container>

    </div>
  </ng-container>

  <button class="btn btn-primary btn-block"
          [disabled]="dynamicForm?.invalid">
    {{ 'submit' }}
  </button>
</form>

<!-- data modal -->
<ng-template #dataModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ 'form data' }}</h4>
    <button type="button"
            class="btn-close close pull-right"
            aria-label="Close"
            >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <pre>{{ this.dynamicForm.value | json }}</pre>
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button type="button"
            class="btn btn-default"
            (click)="modalRef?.hide()">
      {{ 'close' }}
    </button>
  </div>
</ng-template>
